/*
/.**

!/.gitignore
!/README.md
!/bat/
!/bat/**
!/fish/
/fish/**
!/fish/config.fish
!/fish/completion/
!/fish/completion/**
!/fish/conf.d/
!/fish/conf.d/**
!/fish/functions/
!/fish/functions/**
!/nvim/
/nvim/**
!/nvim/init.lua
!/nvim/lua/
!/nvim/lua/**
!/obsidian/
!/obsidian/**
!/skhd/
!/skhd/**
!/yabai/
!/yabai/**
!/git/
!/git/**
